main {
  display: none;
}

.background {
  background: linear-gradient(
    to bottom,
    rgba(30, 87, 153, 0.03) 0%,
    rgba(41, 137, 216, 0.52) 50%,
    rgba(32, 124, 202, 0.53) 51%,
    rgba(125, 185, 232, 1) 100%
  );
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#081e5799', endColorstr='#7db9e8', GradientType=0);
}

main:nth-last-child(3) {
  margin-bottom: 0;
}

.divider.fat {
  border-top-color: rgba(125, 185, 232, 1);
  width: 100%;
}

.circles {
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 999;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.circles div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  transform-origin: top left;
}

.large-circle {
  background: #f03e3e;
  width: 150px;
  height: 150px;
  animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) 3s infinite;
}

.mid-circle {
  background: #7950f2;
  width: 100px;
  height: 100px;
  animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) 3s infinite 0.5s;
}

.small-circle {
  background: #fff;
  width: 50px;
  height: 50px;
  animation: grow cubic-bezier(0.785, 0.135, 0.15, 0.86) 3s infinite 0.8s;
}

@-moz-keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }

  40% {
    opacity: 1;
    transform: scale(1.2) translate(-50%, -50%);
  }

  60% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }
}

@-webkit-keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }

  40% {
    opacity: 1;
    transform: scale(1.2) translate(-50%, -50%);
  }

  60% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }
}

@-o-keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }

  40% {
    opacity: 1;
    transform: scale(1.2) translate(-50%, -50%);
  }

  60% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }

  40% {
    opacity: 1;
    transform: scale(1.2) translate(-50%, -50%);
  }

  60% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: scale(0) translate(-50%, -50%);
  }
}

.avatar {
  border-radius: 50%;
}